* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * Universal * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
   
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
	font-size: 10px;
    background-color:honeydew;
}

ul {
	list-style-type: none;
	font-size:200%;
	font-weight:bolder;
	width: 100%;
	background-color: aquamarine;
	position: absolute;
	top: 0%;
	left:0%;
	z-index: 1;
	height: 10%;
	display:inline-flex;
	justify-content: space-between;
}

li {
	position:relative;
	left:1%;
	padding-top: 2%;
	margin-right:12%;
	}
#message{
	position:relative;
	left:6%;
}
.contact{
	font-size:150%;
	font-weight:bold;
	display:inline-flex;
	text-align: center;
	}
.contact img{
	width:60%;
	}
.contact-left{
	position:absolute;
	background-color:aquamarine;
	left:0%;
	top:12.5%;
	width:15%;
	height:80%;
	}
.nav-bottom{
	position:relative;
	top:40%;
}
.contact-right{
	position:absolute;
	background-color:aquamarine;
	right:0%;
	width:15%;
	top:12.5%;
	height:80%;
}
.center{
	position: relative;
	margin-left:auto;
	margin-right: auto;
	display: inline-flexbox;
	width: 50%;
	margin-top: 5%;
	font-size:150%;
	text-align:center;
}

#flamingo-lbl{
	position:relative;
	top:3.5rem;
	font-weight:bolder
}

.center img{
	width:65%;
	margin-top:10%;
	margin-bottom:10%;
}

.project{
	font-size:170%;
	width:15%;
	position:absolute;
	top:25%;
	width:70%;
	height:72.5%;
	left:14.8%;
	text-align: left;
	display:inline-flex;
}

.project-1{
	width:25.8%;
	margin-left:4%;
}

.project-2{
	position:relative;
	width:25.8%;
	left:46%;

	}
.p-label{
	font-size:135%;
	;
}
.interest{
	position:absolute;
	margin-top:7%;
}
 #submit{
	 position:relative;
	 bottom:8rem;
	 width:60%;
	 border-radius: 18px;
 }
input[type="text"] {
	width: 75%;
	height: 4rem;
	border-radius: 18px;
}

#else-text{
	width:19rem;
	height:20rem;
}
#other-label{
	position:absolute;
	margin-top:28%;
}
#other{
	height:59%;
	margin-top:30%
}
input[type="email"] {
	width: 75%;
	height: 4rem;
	border-radius: 18px;
}

::placeholder{
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}
