* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * Universal * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
	font-size: 10px;
	background-color: honeydew;
	margin: 0%;
	padding: 0%;
}
header {
	position: relative;
	font-size: 2.5rem;
	bottom: 3rem;
	width: 100%;
	overflow: hidden;
}
ul {
	list-style: none;
	display: flex;
	width: 100%;
	background-color: aquamarine;
	float: right;
	justify-content: space-between;
}
li {
	padding: 2% 3%;
}

@media only screen and (min-width: 481px) {
	.nav-mobile,
	.mobile {
		display: none;
	}
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
	.nav-lbl-desk,
	.left,
	.right,
	.center,
	.center-left,
	.center-right {
		display: none;
	}

	.mobile-banner-1,
	.mobile-banner-2 {
		text-align: center;
		position: relative;
	}
	.mobile-banner-1 {
		bottom: 4rem;
	}

	#submit-mobile {
		margin-top: 2rem;
		z-index: 2;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}

span :not(.nav-lbl) {
	font-size: 1.5rem;
}
label {
	font-size: 1.5rem;
	font-weight: bolder;
}

.p-label,
p {
	font-size: 2rem;
	font-weight: bolder;
}
.cbox-label {
	font-size: 2rem;
}
::placeholder {
	text-align: center;
}
table {
	position: relative;
	width: 100%;
	bottom: 4rem;
	overflow: hidden;
}

.left,
.right {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.center {
	width: 35%;
	text-align: center;
}

.center-left,
.center-right {
	width: 20%;
}
input[type="email"] {
	width: 96%;
}
input[type="text"] {
	width: 96%;
}
#other {
	height: 47rem;
}
#else-text {
	height: 36rem;
}
#flamingo {
	width: 95%;
}
#submit {
	width: 95%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}
