* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * Universal * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
	font-size: 10px;
	background-color: honeydew;
	margin: 0%;
	padding: 0%;
}
header {
	position: relative;
	font-size: 2.5rem;
	bottom: 3rem;
	width: 100%;
	overflow: hidden;
}
ul {
	list-style: none;
	display: flex;
	width: 100%;
	background-color: aquamarine;
	float: right;
	justify-content: space-between;
}
li {
	padding: 2% 3%;
}
span {
	font-size: 1.5rem;
}
label {
	font-size: 1.5rem;
	font-weight: bolder;
}

.p-label, p {
	font-size: 2rem;
	font-weight: bolder;
	}

::placeholder {
	text-align: center;
}
table {

}
.left, .right{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:18%;
}
.center{
	width:50%;
	text-align: center;
	}

.center-left, .center-right{
width:15%;

}

.bottom-row{

}
#other{
	height:47rem;
	width:96%;
	}
#else-text{
	width:96%;
	height:36rem;
}
#flamingo{
	width:95%;
	margin:auto;
}
#submit{
	width:95%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}
