* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * Universal * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
	font-size: 10px;
	background-color: honeydew;
	margin: 0%;
	padding: 0%;
}
header {
	position: relative;
	font-size: 2.5rem;
	bottom: 3rem;
	width: 100%;
	overflow: hidden;
}
ul {
	list-style: none;
	display: flex;
	width: 100%;
	background-color: aquamarine;
	float: right;
	justify-content: space-between;
}
li {
	padding: 2% 3%;
}
span {
	font-size: 1.5rem;
}
label {
	font-size: 1.5rem;
	font-weight: bolder;
}

.p-label,
p {
	font-size: 2rem;
	font-weight: bolder;
	}

::placeholder {
	text-align: center;
}

.contact-left,
.contact-right {
	background-color: aqua;
	width: 15%;
	position: relative;
	bottom: 5.5rem;
	display: inline-block;
	height: 55rem;
	text-align: center;
	padding: 5% 0%;
	overflow: hidden;
}
.contact-right {
	float: right;
}

.bottom-row {
	margin-top: 160%;
}

}
.center {
	text-align: center;
	display:block;
	position: relative;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}
.center img {
	width: 55%;
}
.project{
	position:relative;
	display:inline-flexbox;
	top:20rem;
	height:45.5rem;
}

.project-left, .project-right{
	background-color: blue;
	width:19%;
	margin-left:15.5%;
	height:45.5rem;
	text-align: center;
}
.cbox-label{
	text-align: left;
}
.project-right{
	margin-left:65.5%;
	position:relative;
	bottom:45.5rem;
}

.project-bottom-row{
	margin-top:30%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}
